p { margin: 0; padding: 0; }

.pagination { width: auto }
.input-group-text { width: 110px; }

.search_area_menu1 { display: flex; gap: 20px; }
.search_area_menu1 .menu1 { flex-basis: 35%; }
.search_area_menu1 .menu2 { flex-basis: 40%; }

.search_area_menu2 { display: flex; gap: 20px; }
.search_area_menu2 .menu1 { flex-basis: 25%; }
.search_area_menu2 .menu1 select { flex: 0 0 35%; }
.search_area_menu2 .menu2 { flex-basis: 25%; }
.search_area_menu2 .menu2 select { flex: 0 0 35%; }
.search_area_menu2 .menu3 { flex-basis: 10%; }

.search_area_menu3 { display: flex; gap: 20px; }
.search_area_menu3 .menu1 { flex-basis: 25%; }
.search_area_menu3 .menu1 select { flex: 0 0 35%; }
.search_area_menu3 .menu2 { flex-basis: 50%; }
.search_area_menu3 .menu3 { flex-basis: 15%; }

.standard-label-container { display: flex; width: 320px; }
.standard-label-container .input-group-text { flex-shrink: 0; width: 110px; }
.standard-label { flex:1; }
.select-label { border:1px solid #d1d1d1; flex-grow:1; }
.standard-label-container input:checked + label { background-color: #838383 !important; color: #fff !important; border: 1px solid #838383 !important }


.brand_btns input:checked + label.select_brand_BTCP { background-color: #f33737 !important; color: #fff; border: 1px solid #f33737}
.brand_btns input:checked + label.select_brand_BTCC { background-color: #ffb500 !important; color: #fff; border: 1px solid #ffb500}
.brand_btns input:checked + label.select_brand_BTSP { background-color: #2d73c3 !important; color: #fff; border: 1px solid #2d73c3}
.brand_btns input:checked + label.select_brand_BTBR { background-color: #ef697b !important; color: #fff; border: 1px solid #ef697b}
.brand_btns input:checked + label.select_brand_BTOM { background-color: #fd9a3c !important; color: #fff; border: 1px solid #fd9a3c}
.brand_btns input:checked + label.select_brand_BTCS { background-color: #73bf43 !important; color: #fff; border: 1px solid #73bf43}
.brand_btns input:checked + label.select_brand_BTFC { background-color: #34c28e !important; color: #fff; border: 1px solid #34c28e}

.table tr td, .table tr th {
    align-items: center;
    vertical-align: middle;
    text-align: center;
}


.input-in-text { width: 20px; justify-content: center; padding: 0; }
.cancel_check_container { float: right; }

.gs_name, .deli_date, .addr, .ribbon_left, .state_p { margin: 0 auto;}

.ribbon_left { width: 250px; }
.product-price { color: #212121 }

.payments_area { display: flow-root; align-items: center; }
.span_PT { display: inline-block; padding: 3px; }
.payments_area .deposit_name_text { font-size: 12px; display: -webkit-inline-box; width: 85%; text-align: left}

.count_text {
    margin: 0 5px 0 0;
    background-color: #6d6d6d; /* 어두운 배경색 */
    color: #c9c9c9; /* 흰색 텍스트 */
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px; /* 패딩을 추가하여 여유 공간 확보 */
    border-radius: 4px; /* 모서리를 약간 둥글게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* 가벼운 그림자 */
    border: 1px solid #6d6d6d; /* 얇은 테두리 */
    display: inline-block; /* 텍스트를 인라인 블록으로 */
    letter-spacing: 0.5px; /* 글자 간격 */
    text-align: center;
}

.count_text span { color: #fff; }

.table tr th, .table tr td { padding: 0px 4px; }

table.dataTable thead th { text-align: center; }